html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1 REM=10px  */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  color: #040f16;
  background-color: #f9f0f0;
}

/* Globales */
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #000;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

/* Header */
.nombre-sitio {
  text-align: center;
  margin-top: 5rem;
}

.nombre-sitio span {
  color: #ff0000;
}
.nav-principal a {
  color: #fff;
}

.nav-principal a:hover {
  color: #000;
}

.hero {
  background-image: url(../img/principal.jpg);
  height: 55rem;
  background-repeat: no-repeat;
  background-position: 1px -250px;
  background-size: cover;
}

/** Categorias **/
.categorias {
  padding-top: 5rem;
}

.listado-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.size-img {
  object-fit: cover;
  height: 22rem;
  width: 45rem;
}

.categorias h2 {
  text-align: center;
}

.categoria a {
  text-align: center;
  display: block;
  padding: 2rem;
  font-size: 2rem;
}

.categoria a:hover {
  background-color: #ff0000;
  color: #fff;
  border-bottom-right-radius: 2rem;
}

/*Bloque nosotros */

.sobre-nosotros {
  background-image: linear-gradient(
      to right,
      transparent 50%,
      #ff4400 50%,
      #ff0000 100%
    ),
    url("../img/nosotros.jpg");
  padding: 10rem 0;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100%, 120rem;
  margin-top: 4rem;
}

.sobre-nosotros-grid {
  display: flex;
  justify-content: flex-end;
  color: #fff;
}

.texto-nosotros {
  flex-basis: 50%;
  padding-left: 10rem;
}

.texto-nosotros p {
  font-weight: 400;
}
.texto-nosotros h2 {
  margin-bottom: 0.5rem;
}

/*producto inter*/
.producto-internet {
  background-image: linear-gradient(
      to right,
      transparent 50%,
      #fff 50%,
      #fff 100%
    ),
    url("../img/interwifi.jpg");
  padding: 10rem 0;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100%, 120rem;
  margin-top: 4rem;
}
.producto-internet-grid {
  display: flex;
  justify-content: flex-end;
  color: #000;
}

.texto-productointer {
  flex-basis: 50%;
  padding-left: 10rem;
}
/*  productosimcard */

/*producto inter*/
.producto-simcard {
  background-image: linear-gradient(
      to right,
      transparent 50%,
      #fff 50%,
      #fff 100%
    ),
    url("../img/simcard2.jpg");
  padding: 10rem 0;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100%, 120rem;
  margin-top: 4rem;
}

/* footer*/

.site-footer {
  margin-top: 5rem;
  border-top: 1px solid #e1e1e1;
  padding-top: 3rem;
}

.grid-footer {
  display: flex;
  gap: 2rem;
}

.grid-footer div {
  flex: 1;
}

.footer-menu a {
  display: block;
}

.site-footer h3 {
  margin-bottom: 0.5rem;
}

/* site-inter   */
.site-inter {
  margin-top: 5rem;
  padding-top: 3rem;
  background-color: #f6f1f1;
  color: #000;
}

.grid-inter {
  display: flex;
  gap: 2rem;
}

.grid-inter div {
  flex: 1;
}

.inter-menu a {
  display: block;
}
.site-inter h2 {
  text-align: center;
}

.site-inter h3 {
  margin-bottom: 0.5rem;
}
.site-inter {
  margin-bottom: 5rem;
}

#inter3 {
  border-left: solid 1px #141414;
  padding-left: 2rem;
}
.whats {
  height: 7rem;
  width: 6rem;
}
/*Producto pospago*/
.producto-pospago {
  background-image: linear-gradient(
      to right,
      transparent 50%,
      #fff 50%,
      #fff 100%
    ),
    url("../img/Simcard.jpg");
  padding: 10rem 0;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100%, 120rem;
  margin-top: 4rem;
}

/*Boton de whatsapp*/

button {
  width: 200px;
  height: 70px;
  background: linear-gradient(to left top, #1edc34 50%, #1edc34 50%);
  border-style: none;
  color: #fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: "Lato";
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
button span {
  position: absolute;
  display: block;
}
button span:nth-child(1) {
  height: 3px;
  width: 200px;
  top: 0px;
  left: -200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1 {
  0% {
    left: -200px;
  }
  100% {
    left: 200px;
  }
}
button span:nth-child(2) {
  height: 70px;
  width: 3px;
  top: -70px;
  right: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2 {
  0% {
    top: -70px;
  }
  100% {
    top: 70px;
  }
}
button span:nth-child(3) {
  height: 3px;
  width: 200px;
  right: -200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3 {
  0% {
    right: -200px;
  }
  100% {
    right: 200px;
  }
}

button span:nth-child(4) {
  height: 70px;
  width: 3px;
  bottom: -70px;
  left: 0px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4 {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 70px;
  }
}

button:hover {
  transition: all 0.5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
button:hover span {
  animation-play-state: paused;
}

/*formulario */

.colorform {
  background-color: rgb(193, 179, 179);
}
/*menu hamburguesa */
.logo {
  max-width: 12rem;
}

.nav-principal {
  display: flex;
  gap: 3rem;
  border: none;
  font-weight: bold;
}

.section-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #ff0000;
}

/*Boton menu responsivo*/
.bars__menu {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 3%;
  left: 77%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.bars__menu span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ff4400;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 600ms;
}
.activeline1__bars-menu {
  transform: rotate(45deg) translate(-2px, 1px);
}
.activeline2__bars-menu {
  opacity: 0;
  margin-left: -30px;
}

.activeline3__bars-menu {
  transform: rotate(-45deg) translate(-4px, 2px);
}

@media screen and (max-width: 550px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
  }

  .contenedor-navegacion {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 4rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

 
  .contenedor-navegacion.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-principal {
    flex-direction: column;
    align-items: end;
  }
  .hvr-radial-in:before {
    background-color: #1c1c1c;
  }
}
