html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 REM=10px  */
}


*,
*:before,
*:after {
    box-sizing: inherit;


}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    color: #040F16;
    background-color: #F4F4F4;
}

/* Globales */
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 3rem;
}



a {
    text-decoration: none;
    color: #000;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;

}

/* Header */
.nombre-sitio {
    text-align: center;
    margin-top: 5rem;
}

.nombre-sitio span {
    color: #ff0000 ;

}
.nav-principal a{
    color:#fff ;
}

.contenedor-navegacion {
    border-top: 0.1rem solid #fff;
    background-color: #ff0000;
    

}

.nav-principal {
    display: flex;
    padding: 2rem 0;
    justify-content: space-around;


}

.nav-principal a:hover {
    background-color: #ecebd8 ;
    color: #000;
    height: fit-content;
    width: fit-content;

}

.hero {
    background-image: url(../img/principal.jpg);
    height: 55rem;
    background-repeat: no-repeat;
    background-position: 1px -250px;
    background-size: cover;
    }




/** Categorias **/
.categorias{
    padding-top: 5rem;
    
}

.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    
}
.size-img{
    object-fit: cover;
    height: 22rem;
    width: 45rem;
  }

.categorias h2 {
    text-align: center;
    
}

.categoria a {

    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;    
}

.categoria a:hover {
    background-color: #ff0000;
    color: #fff;
    border-bottom-right-radius: 2rem;
}

/*Bloque nosotros */

.sobre-nosotros{

    background-image: linear-gradient(to right, transparent 50%,#ff0000 50%,#ff0000 100%),url('../img/nosotros.jpg');
    padding: 10rem 0;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    margin-top: 4rem;
}

.sobre-nosotros-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 4rem;
    color: #fff;
    }

.texto-nosotros{
    grid-column: 2/3;
}

